<div #habitDialog class="habit-dialogue">
  <div class="Header">
    <p class="header-text">New Habit</p>
  </div>
  <div class="name-container">
    <div class="name-text">NAME</div>
    <div class="name-input">

      <input *ngIf="!isEditModal()" [(ngModel)]="habitName" [matMenuTriggerFor]="habit.getMenu()"
             class="input-habit">
      <input *ngIf="isEditModal()" [(ngModel)]="habitName" class="input-habit">

      <div class="habit-icon">
        <img [src]=getIconSource() alt="Question Mark" class="mark">
      </div>
    </div>
  </div>
  <div class="goal-container">
    <div class="goal-text">GOAL</div>
    <div class="goal-input-container">
      <p-inputNumber (ngModelChange)="onGoalChange($event)"
                     *ngIf="!isWaterOrRunningOrCycling() && goalFrequency!='Mins'" [(ngModel)]="goalValue"
                     [max]="100"
                     [min]="1"
                     [showButtons]="true" [step]="1"
                     class="up-down-arrows goal-value"
                     inputId="minmax-buttons"></p-inputNumber>

      <p-inputNumber (ngModelChange)="onGoalChange($event)"
                     *ngIf="!isWaterOrRunningOrCycling() && goalFrequency=='Mins'" [(ngModel)]="goalValue"
                     [max]="1200"
                     [min]="5"
                     [showButtons]="true" [step]="5"
                     class="up-down-arrows goal-value"
                     inputId="minmax-buttons"></p-inputNumber>

      <p-inputNumber (ngModelChange)="onGoalChange($event)" *ngIf="habitName==AppConstants.drinkWater"
                     [(ngModel)]="goalWater"
                     [max]="30000"
                     [min]="100"
                     [showButtons]="true"
                     [step]="100"
                     class="up-down-arrows goal-value"
                     inputId="minmax-buttons"></p-inputNumber>
      <p-inputNumber (ngModelChange)="onGoalChange($event)" *ngIf="habitName==AppConstants.running"
                     [(ngModel)]="runningValue"
                     [max]="50" [min]="1"
                     [showButtons]="true"
                     [step]="1"
                     class="up-down-arrows goal-value"
                     inputId="minmax-buttons"></p-inputNumber>
      <p-inputNumber (ngModelChange)="onGoalChange($event)" *ngIf="habitName==AppConstants.cycling"
                     [(ngModel)]="cyclingValue"
                     [max]="50" [min]="1"
                     [showButtons]="true"
                     [step]="1"
                     class="up-down-arrows goal-value"
                     inputId="minmax-buttons"></p-inputNumber>
      <div *ngIf="!isWaterOrRunningOrCycling() && !isEditModal()" [matMenuTriggerFor]="frequency.getMenu()"
           class="input-wrapper">
        <input (ngModelChange)="updateFrequency(goalFrequency)" [(ngModel)]="goalFrequency" class="goal-frequency"
               readonly/>
        <img alt="Up" class="up" src="assets/svg/up.svg"/>
        <img alt="Down" class="down" src="assets/svg/black-down.svg"/>
      </div>
      <div *ngIf="!isWaterOrRunningOrCycling() && isEditModal()"
           class="input-wrapper">
        <input [(ngModel)]="goalFrequency" class="goal-frequency"
               readonly/>
        <img alt="Up" class="up" src="assets/svg/up.svg"/>
        <img alt="Down" class="down" src="assets/svg/black-down.svg"/>
      </div>
      <div *ngIf="habitName==AppConstants.drinkWater && !isEditModal()"
           [matMenuTriggerFor]="Waterfrequency.getMenu()"
           class="input-wrapper">
        <input (ngModelChange)="updateFrequency(waterFrequency)" [(ngModel)]="waterFrequency" class="goal-frequency"
               readonly/>
        <img alt="Up" class="up" src="assets/svg/up.svg"/>
        <img alt="Down" class="down" src="assets/svg/black-down.svg"/>
      </div>
      <div *ngIf="habitName==AppConstants.drinkWater && isEditModal()" class="input-wrapper">
        <input [(ngModel)]="waterFrequency" class="goal-frequency"
               readonly/>
        <img alt="Up" class="up" src="assets/svg/up.svg"/>
        <img alt="Down" class="down" src="assets/svg/black-down.svg"/>
      </div>
      <div *ngIf="(habitName==AppConstants.running|| habitName==AppConstants.cycling) && !isEditModal()"
           [matMenuTriggerFor]="Runningfrequency.getMenu()"
           class="input-wrapper">
        <input (ngModelChange)="updateFrequency(runningFrequency)" [(ngModel)]="runningFrequency" class="goal-frequency"
               readonly/>
        <img alt="Up" class="up" src="assets/svg/up.svg"/>
        <img alt="Down" class="down" src="assets/svg/black-down.svg"/>
      </div>
      <div *ngIf="(habitName==AppConstants.running|| habitName==AppConstants.cycling) && isEditModal()"
           class="input-wrapper">
        <input [(ngModel)]="runningFrequency" class="goal-frequency"
               readonly/>
        <img alt="Up" class="up" src="assets/svg/up.svg"/>
        <img alt="Down" class="down" src="assets/svg/black-down.svg"/>
      </div>
      <div [matMenuTriggerFor]="frequencyPeriod.getMenu()" class="input-wrapper">
        <input [(ngModel)]="frequencyPerPeriod" class="goal-frequency" readonly/>
        <img alt="Up" class="up" src="assets/svg/up.svg"/>
        <img alt="Down" class="down" src="assets/svg/black-down.svg"/>
      </div>
    </div>
  </div>

  <div class="repeat-container">
    <div class="repeat-text">REPEAT</div>
    <div class="repeat-input-container">
      <div [matMenuTriggerFor]="repeatMenu" class="input-wrapper">
        <input [value]="getDayValue()" class="repeat-frequency" readonly/>
        <img alt="Up" class="up-repeat" src="assets/svg/up.svg"/>
        <img alt="Down" class="down" src="assets/svg/black-down.svg"/>
      </div>
    </div>
  </div>

  <div class="tod-container">
    <div class="tod-text">TIME OF DAY</div>
    <div class="goal-input-container">
      <div [matMenuTriggerFor]="timeDay.getMenu()" class="input-wrapper">
        <input [value]="getTimeOfDayDisplayValue(timeOfDay)" class="tod-input" readonly/>
        <img alt="Up" class="up" src="assets/svg/up.svg"/>
        <img alt="Down" class="down" src="assets/svg/black-down.svg"/>
      </div>
    </div>
  </div>
  <div class="calender-container">
    <div class="repeat-text">START DATE</div>
    <div class="repeat-input-container">

      <div (click)="toggleCalendar()" [matMenuTriggerFor]="calender" class="input-wrapper">
        <input [value]="getCalenderDisplayValue(startSelectedDate)" class="repeat-frequency" readonly/>
        <img alt="Calender" class="calendar-button" src="assets/svg/calender.svg"/>
      </div>
    </div>
  </div>
  <app-water-frequency-menu #Waterfrequency (habitItemSelected)="updateHabitDrinkSelect($event)"
                            (waterGoal)="updateWaterGoalFrequency($event)"></app-water-frequency-menu>
  <app-running-frequency-menu #Runningfrequency
                              (habitItemSelected)="updateHabitRunSelect($event)"
                              (runningGoal)="updateRunningGoalFrequency($event)"></app-running-frequency-menu>
  <app-frequency-menu #frequency (frequency)="updateGoalFrequency($event)"
                      (habitItemSelected)="updateHabitDaysSelect($event)"></app-frequency-menu>

  <app-frequency-period-menu #frequencyPeriod
                             (frequencyPeriod)="updateFrequencyPeriod($event)"
                             (habitItemSelected)="updateHabitPeriodSelect($event)"></app-frequency-period-menu>

  <app-time-day-menu #timeDay (habitItemSelected)="updateHabitTimeDaySelect($event)"
                     (timeDay)="updateTimeOfDay($event)"></app-time-day-menu>
  <div class="modal-footer">
    <div class="buttons">
      <p-button (click)="deleteHabit(receivedHabit)" *ngIf="isEditModal()" class="delete" label="Delete"
                size="small"></p-button>
      <p-button (click)="unArchiveHabit()" *ngIf="isEditModalAndIsArchived()" class="unarchive" label="Unarchive"
                size="small"></p-button>
      <p-button (click)="archiveHabit()" *ngIf="isEditModalAndIsNotArchived()" class="archive" label="Archive"
                size="small"></p-button>
      <p-button (click)="close()" class="cancel" label="Cancel" size="small"></p-button>
      <p-button (click)="saveHabit()" [disabled]="!habitName" class="save" label="Save" size="small"></p-button>

    </div>
  </div>

  <mat-menu #calender="matMenu" [hasBackdrop]="false" class="calender-container" overlapTrigger="false">
    <p-calendar
      (click)="onCalendarClick($event)"
      (onSelect)="onStartDateSelect($event)"
      [(ngModel)]="startSelectedDate"
      [inline]="true"
      [showIcon]="false"
      dateFormat="M d, yy">
    </p-calendar>
  </mat-menu>

  <app-month-menu #month (habitItemSelected)="updateHabitMonthSelect($event)" (onSelect)="onDateSelect($event)"
                  [selectedDates]="sendSelectedDates()"></app-month-menu>
  <mat-menu #repeatMenu="matMenu" [hasBackdrop]="false" class="repeat-menu" overlapTrigger="false">
    <button [matMenuTriggerFor]="days.getMenu()" mat-menu-item>
      Daily
    </button>
    <button [matMenuTriggerFor]="month.getMenu()" mat-menu-item>
      Monthly
    </button>
    <button [matMenuTriggerFor]="interval.getMenu()" mat-menu-item>
      Interval
    </button>
  </mat-menu>
  <app-days-menu #days (habitItemSelected)="updateHabitWeekSelect($event)" (timeDay)="toggleDay($event)"
                 [editModal]="editModal" [repeatValue]="repeatValue" ></app-days-menu>
  <app-interval-menu #interval (habitItemSelected)="updateHabitIntervalSelect($event)"
                     (interval)="updateIntervalPerDays($event)" [repeatValue]="repeatValue"></app-interval-menu>
  <app-habit-menu #habit (habit)="updateHabitName($event)"
                  (habitItemSelected)="updateHabitNameSelect($event)"></app-habit-menu>
</div>

