.navigation{
  width:1242px;
  height:50px;
  position: relative;
  top:-8.5px;
  right:-14.5em;
  display: grid;
  grid-area: journal-topbar / journal-topbar / journal-topbar / journal-topbar;
  grid-template-areas: "topbar-date-selector topbar-search";
  padding: 0px 10px 0px 15px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(255, 255, 255);

  border-bottom: 1px solid rgb(237, 237, 237);
}
.time{
  width:85.2px;
  height:20.4px;
  font-family: Inter,sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.4px;
  color: rgb(0, 0, 0);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin:0;
  position: relative;
  top: 10px;
}
.area-container{
  grid-area: topbar-search / topbar-search / topbar-search / topbar-search;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
/* styles.scss */

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  right:30em;
  top:0.65em;
}

.search-icon {
  position: absolute;
  left: 11px; /* Adjust the left position as needed */
  top: 49%;
  transform: translateY(-50%);
  width: 15px; /* Adjust the width as needed */
  height: 15px; /* Adjust the height as needed */
}
input:focus {
  border: 1px solid #ccc; /* Default border style */
  outline: none; /* Remove the default focus outline */
}

input {
  padding-left: 2.5em; /* Adjust the padding-left to accommodate the icon */
  width: 164px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  border: 1px solid #ccc; /* Optional: Add border styling */
  border-radius: 5px; /* Optional: Add border-radius */
}

/* Optional: Style the placeholder text */
input::placeholder {
  color: #999; /* Adjust the color as needed */
}

::ng-deep .p-inputtext {
  width:164px;
  height:30px;
  background-color: #ffffff;
  margin:0 8px 0 0;
  padding: 0 12px;
  padding-left:2em !important;
}


::ng-deep .p-inputtext:focus {
  border: 1px solid transparent;
}
::ng-deep .p-button {
  width: 103px;
  height: 30px;
  background: rgb(255,255,255);
  color: black;
  border: 1px solid #ccc;
  padding:0 10px;
  position: relative;
  right: -48em;
  top: -1.2em;
}
::ng-deep .p-button:focus {
  border: 1px solid #ccc;
  background-color: rgb(255,255,255);
  box-shadow:none;
}
.calendar-icon{
  width: 13px;
  height: 13px;
}
.calender-text{
  width:36px;
  height:15px;
  margin:auto;
  position:relative;
  top:-4px;
}
.down-icon{
  width:16px;
  height:16px;
  position: relative;
  right:-3px;
}
::ng-deep .p-datepicker {
  width: 231px !important;
  height: 219px !important;
  position:absolute;
  top: -0.1em;
  left:-25.8em;
}
/* Style for today when the calendar is open */
::ng-deep  .p-datepicker table td.p-datepicker-today > span {
  color: #ffffff;
  background: #2A67F4;
}

/* Remove background color for non-selected dates when the calendar is open */

::ng-deep .p-datepicker table td.today span,
::ng-deep .p-datepicker table td.ui-state-active span {
  color: #ffffff;
  background: #2A67F4;
}

::ng-deep .p-datepicker table td {
  padding: 0.1rem !important;
}

::ng-deep .p-datepicker table td > span {
  width: 1.5rem;
  height: 1.5rem;
}
::ng-deep .p-datepicker table td > span.p-highlight {
  color: #ffffff;
  background: #2A67F4;
}
::ng-deep .p-datepicker table {
  font-size: 10pt;
  margin: -0.143rem 0;
}

::ng-deep .p-datepicker .p-datepicker-header {
  padding: 0.2rem;
}

