<div class="navigation">
  <p class="time">{{currentTimeOfDay}}</p>
  <div class="input-container">
    <img class="search-icon" src="assets/svg/search.svg"/>
    <input [(ngModel)]="searchValue" placeholder="Search" type="text"/>
  </div>
  <p-button (click)="toggleCalendar()">
    <img class="calendar-icon" src="assets/svg/calender.svg"/>
    <span class="calender-text">Today</span>
    <img alt="down-arrow" class="down-icon" src="assets/svg/down.svg"/>
  </p-button>
  <p-calendar #Calender (onMonthChange)="onMonthChange($event)" (onSelect)="onDateSelect($event)" *ngIf="showCalendar"
              [(ngModel)]="selectedDate" [inline]="true" [maxDate]="maxDate"
              [minDate]="minDate"></p-calendar>
</div>
