.navigation {
  width: 78.2em;
  height: 3.125em;
  position: relative;
  top: -1.5px;
  right: -14.5em;
  display: grid;
  padding: 0 0.625em 0 0.9375em;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(237, 237, 237);
  border-right: 1px solid rgb(229, 228, 229) !important;
}

.time {
  width: 5.325em; // 85.2px / 16px
  height: 1.275em; // 20.4px / 16px
  font-family: Inter, sans-serif;
  font-size: 1.0625em; // 17px / 16px
  font-weight: 600;
  line-height: 1.275em;
  color: rgb(0, 0, 0);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  position: fixed;
  top: 0.85em;
  right: 92.5em;
}

.area-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.input-container {
  position: absolute;
  display: flex;
  align-items: center;
  right: 15.3em;
  top: 0.85em;
}

.search-icon {
  position: absolute;
  left: 11px; /* Adjust the left position as needed */
  top: 49%;
  transform: translateY(-50%);
  width: 0.9375em; /* Adjust the width as needed */
  height: 0.9375em; /* Adjust the height as needed */
}

input:focus {
  border: 1px solid #ccc; /* Default border style */
  outline: none; /* Remove the default focus outline */
}

input {
  padding-left: 2.5em; /* Adjust the padding-left to accommodate the icon */
  width: 12.3em; /* Adjust the width as needed */
  height: 2.25em; /* Adjust the height as needed */
  border: 1px solid #ccc; /* Optional: Add border styling */
  border-radius: 5px; /* Optional: Add border-radius */
}

input::placeholder {
  color: #999; /* Adjust the color as needed */
}

::ng-deep .p-inputtext {
  width: 10.25em;
  height: 1.875em;
  background-color: #ffffff;
  margin: 0 0.5em 0 0;
  padding: 0 0.75em;
  padding-left: 2em !important;
}

::ng-deep .p-inputtext:focus {
  border: 1px solid transparent;
}

.calendar-icon {
  width: 0.8125em;
  height: 0.8125em;
  cursor: default !important;
}

.calendar-icon-increase {
  width: 1.05em;
  height: 1.05em;
  cursor: default !important;
}

.calender-text {
  width: 2.25em;
  height: 0.9375em;
  margin: auto;
  position: relative;
  top: -4px;
}

.down-icon {
  width: 1em;
  height: 1em;
  position: relative;
  right: -3px;
  cursor: default !important;
}

::ng-deep .p-datepicker {
  width: 14.4375em !important;
  height: 13.6875em !important;
  position: relative;
  top: -0.2em;
  left: 59.3em;
}

::ng-deep .p-datepicker table td.p-datepicker-today > span {
  color: #ffffff;
  background: #2A67F4;
}

::ng-deep .p-datepicker table td.today span,
::ng-deep .p-datepicker table td.ui-state-active span {
  color: #ffffff;
  background: #2A67F4;
}

::ng-deep .p-datepicker table td {
  padding: 0.1rem !important;
}

::ng-deep .p-datepicker table td > span {
  width: 1.5rem;
  height: 1.5rem;
}

::ng-deep .p-datepicker table td > span.p-highlight {
  color: #ffffff;
  background: #2A67F4;
}

::ng-deep .p-datepicker table {
  font-size: 10pt;
  margin: -0.143rem 0;
}

::ng-deep .p-datepicker .p-datepicker-header {
  padding: 0.2rem;
}

.search-container {
  width: 2.5em;
  display: flex;
  position: absolute;
  height: 1.875em;
  margin-right: 0.5em;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  border-radius: 3px;
  padding: 0 12px;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(229, 228, 229);
  border-image: initial;
  right: 26.6em;
  top: 0.75em;
}

.sort-container {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: absolute;
  vertical-align: middle;
  width: 3.35em;
  line-height: 30px;
  font-weight: 500;
  height: 2.5em;
  font-size: 12px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
  padding-right: 10px;
  font-family: Inter, sans-serif;
  cursor: default;
  outline: unset;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(229, 228, 229);
  border-image: initial;
  right: 12.3em;
  top: 1em;
}

.container {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: absolute;
  vertical-align: middle;
  width: 3.35em;
  line-height: 30px;
  font-weight: 500;
  height: 2.5em;
  font-size: 12px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
  padding-right: 10px;
  font-family: Inter, sans-serif;
  cursor: default;
  outline: unset;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(229, 228, 229);
  border-image: initial;
  right: 16.3em;
  top: 1em;
}

.right {
  right: 20em !important;
}

::ng-deep .add-button {

  display: inline-flex;
  appearance: none;
  white-space: nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: absolute;
  vertical-align: middle;
  width: 10.65em;
  line-height: 30px;
  font-weight: 500;
  height: 2.5em;
  font-size: 12px;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 103, 244);
  padding-left: 10px;
  padding-right: 10px;
  font-family: Inter, sans-serif;
  cursor: default;
  outline: unset;
  border-radius: 5px;
  border: none;
  top: 11px;
  right: 0.8em;
}

::ng-deep .mat-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  line-height: 1em;
  flex-shrink: 0;
  color: currentcolor;
  vertical-align: middle;
  position: relative;
  top: 1px;
}

::ng-deep .material-icons {
  font-size: 20px;
}

.button-text {
  width: 5em !important;
  height: 2.5em !important;
}

.add-icon {
  right: 6px;
  top: 2px;
}

.drop-icon {
  right: -7px;
  top: 2px;
}

.sort-drop-icon {
  right: -6px;
  top: 0;
}

::ng-deep .mat-mdc-menu-item {
  color: rgba(0, 0, 0, .7) !important;
  display: flex;
  cursor: default;
  height: 1.875em !important;
  line-height: 1.875em !important;
  text-transform: capitalize !important;
  padding: 0 6px 0 10px !important;
  width: 13em !important;
  min-height: 1.875em !important;
}

::ng-deep .mat-mdc-menu-item:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(42, 103, 244) !important;
  border-radius: 0;
}

::ng-deep .mat-mdc-menu-item:hover .infinity {
  filter: brightness(0) invert(1);
}

::ng-deep .mat-mdc-menu-item:hover .tick-icon {
  filter: brightness(0) invert(1);
}

::ng-deep .mat-mdc-menu-item:hover .mat-mdc-menu-submenu-icon {
  filter: brightness(0) invert(1);
}

::ng-deep .add-menu {
  padding-top: 6px;
  padding-bottom: 4px;
}

::ng-deep .alpha-menu {
  width: 1.875em !important;
  height: 3.875em !important;
  overflow: hidden !important;
}

::ng-deep .mat-mdc-menu-content {
  padding: 0 !important;
}

.add-menu::ng-deep .mat-mdc-menu-content {
  height: 2.75em !important;
  overflow: hidden;
}

.sort-menu::ng-deep .mat-mdc-menu-content {
  height: 5.75em !important;
  overflow: hidden;
}

::ng-deep .mat-mdc-menu-item-text {
  position: relative;
  top: -2.5px;
  font-family: Inter, sans-serif !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 30px !important;
  text-overflow: ellipsis;
}

.hide-icon {
  opacity: 1 !important;
}

.infinity {
  position: relative;
  top: 3px;
  text-align: center;
  margin-right: 5px;
}

.custom-calendar-input {
  position: absolute;
  display: inline-block; /* Ensure the icons are inside the same container */
  cursor: default;
  right: 19em;
  top: 0.75em;
}

.custom-calendar-input img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  right: 10px;
}

.custom-calendar-input .calendar-icon {
  left: 10px; /* Adjust the position of the calendar icon */
  top: 14px;
}

.custom-calendar-input img.drop-icon {
  right: 10px; /* Adjust the position of the dropdown icon */
}

.input-calender {
  width: 10em;
  height: 2.5em;
  color: black;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  background-color: white;
  padding: 0 10px;
  cursor: default !important;
}

.custom-calendar-input input.input-calender {

  padding-left: 2.5em;
  padding-bottom: 1px;
}

.sort-button {
  border: 1px solid #ccc;
  background-color: white;
  position: absolute;
  right: 11em;
  top: 0.9em;
  border-radius: 5px;
  height: 2.25em !important;
  width: 147px !important;
}

.sort-icon {
  position: relative;
  top: 1px;
  right: -1px;
}

.sort-text {
  position: relative;
  top: -1px;
  right: -7px;
  font-family: "Inter", sans-serif;
  line-height: 30px;
  font-weight: 500;
  font-size: 12px;
  color: rgb(0, 0, 0);
  display: inline-block;
  width: 93px;
  height: 28px;
  background-color: rgb(255, 255, 255);
}

.sort-menu ::ng-deep .mat-mdc-menu-item-text {
  position: relative;
  top: -2.5px;
  font-family: Inter, sans-serif !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 1.875em !important;
  text-overflow: ellipsis;
}

::ng-deep.mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: none !important;
  border: 1px solid #ececec !important;
}

::ng-deep .mat-elevation-z9, .mat-mdc-elevation-specific.mat-elevation-z9 {
  box-shadow: none !important;
  border: 1px solid #ececec !important;
}

::ng-deep .sort-menu {
  width: 13em !important;
  height: 5.75em !important;
  overflow: hidden !important;
}

.tick-icon {
  position: relative;
  top: 2px;
  opacity: 0;
  right: 0;
  margin-right: 8px;
}

.calendar-container {
  position: absolute;
  top: 3.125em; /* Adjust as needed */
  left: -1px; /* Adjust as needed */
  z-index: 2; /* Ensure it has a higher z-index than other components */
}

::ng-deep .disable-next .p-ripple.p-element.p-datepicker-next.p-link {
  pointer-events: none;
  opacity: 0.5;
}

::ng-deep .disable-prev .p-ripple.p-element.p-datepicker-prev.p-link {
  pointer-events: none;
  opacity: 0.5;
}
