<div class="navigation">
<p class="time">{{currentTimeOfDay}}</p>
  <div class="input-container">
    <img src="assets/svg/search.svg" class="search-icon" />
    <input type="text" placeholder="Search" [(ngModel)]="searchValue" />
  </div>
  <p-button (click)="toggleCalendar()">
    <img src="assets/svg/calender.svg" class="calendar-icon" />
    <span class="calender-text">Today</span>
    <img src="assets/svg/down.svg" alt="down-arrow" class="down-icon"/>
  </p-button>
  <p-calendar #Calender *ngIf="showCalendar" [inline]="true"  [(ngModel)]="selectedDate" (onSelect)="onDateSelect($event)" [minDate]="minDate" [maxDate]="maxDate" (onMonthChange)="onMonthChange($event)"></p-calendar>
</div>
