<mat-menu #editHabit="matMenu" [hasBackdrop]="false" class="edit-habit-menu" overlapTrigger="false">
  <button (click)="completeHabit(habit)" mat-menu-item>
    <img alt="tick" class="edit-habit-icon"
         src="assets/svg/tick.svg"/>
    Check-In
  </button>
  <button (click)="skipHabit(habit)" mat-menu-item>
    <img alt="tick" class="edit-habit-icon"
         src="assets/svg/skip.svg"/>
    Skip
  </button>
  <button (click)="failHabit(habit)" mat-menu-item>
    <img alt="tick" class="edit-habit-icon"
         src="assets/svg/fail.svg"/>
    Fail
  </button>
  <button (click)="showOverlayPanel($event,habit)" mat-menu-item>
    <img alt="tick" class="edit-habit-icon"
         src="assets/svg/log.svg"/>
    Log Progress
  </button>
  <button (click)="openEditModal(habit)" mat-menu-item>
    <img alt="tick" class="edit-habit-icon"
         src="assets/svg/edit.svg"/>
    Edit
  </button>
  <button (click)="emitHabit(habit)" mat-menu-item>
    <img alt="tick" class="edit-habit-icon"
         src="assets/svg/view-progress.svg"/>
    View Progress
  </button>

</mat-menu>
<app-overlay-panel-menu *ngIf="habit.showOverLayPanel" [habit]="habit"></app-overlay-panel-menu>

