* {
  margin: 0;
}

.habit {
  width: 77.625em;
  height: 4.0375em;
  background-color: #FFFEFF;
  display: grid;
  grid-template-areas: "circle name";
  grid-template-columns: 3.875em 1fr;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
}

.habit-identification {
  width: 3.875em;
  height: 2.5em;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  grid-area: circle / circle / circle / circle;
}

.icon {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #e2e8f0;
}

.habit-content {
  width: 73.75em;
  height: 4.0375em;
  padding: 0.84375em 0;
  display: grid;
  grid-area: name / name / name / name;
  grid-template-areas: "name smartAction otherAction";
  grid-template-columns: 6fr auto auto;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 1px solid rgb(229, 228, 229);
  border-right: 1px solid rgb(229, 228, 229) !important;
}

.habit-name {
  width: 65.8125em;
  height: 1.3em;
  overflow: hidden;
  word-break: break-word;
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
  color: rgb(0, 0, 0);
}

.habit-frequency {
  width: 65.8125em;
  margin-top: 3px;
  height: 0.9375em;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  color: rgb(123, 124, 124);
  text-decoration: unset;
}

.minor-details {
  width: 65.8125em;
  height: 2.2875em;
}

::ng-deep .done-button {
  width: 4.44375em !important;
  height: 1.875em;
  color: rgb(0, 0, 0);
  padding: 0 0.5em;
  background: rgb(255, 255, 255) !important;
  border: 1px solid rgb(229, 228, 229);
  border-radius: 3px;
  margin-right: 1em;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.done {
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(0, 0, 0);
  margin-left: 5px;
}

.log {
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(0, 0, 0);
  margin-left: 0.5em;
}

::ng-deep .pi {
  width: 1em;
  height: 1em;
  position: relative;
  right: 1px;
  top: 0;
}

::ng-deep .p-button {
  box-shadow: none !important;
}

.more-button {
  width: 2em;
  height: 1.875em;
  background: rgb(255, 255, 255) !important;
  border: 1px solid rgb(229, 228, 229);
  border-radius: 3px;
  color: rgb(0, 0, 0);
  margin-right: 0.5em;
  position: relative;
  right: 4px;
}

.more-icon {
  position: relative;
  top: 2px;
  right: 4px;
}

.edit-habit-icon {
  position: relative;
  top: 4px;
  right: 2.5px;
  margin-right: 4px;
}

::ng-deep .edit-habit-menu .mat-mdc-menu-item-text {
  top: -0.5px
}

::ng-deep .mat-mdc-menu-item:hover {
  .edit-habit-icon {
    filter: brightness(0) invert(1);
  }
}

.canceled-text {
  text-decoration: line-through;
}

::ng-deep .log-button {
  width: 3.90625em !important;
  height: 1.875em !important;
  padding: 0 8px !important;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255) !important;
  border: 1px solid rgb(229, 228, 229);
  border-radius: 3px;
  margin-right: 1em !important;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

::ng-deep .log-habit-bar {
  width: 9.51875em !important;
  height: 1.5875em;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255) !important;
  border: 1px solid rgb(229, 228, 229);
  border-radius: 3px;
  margin-right: 1em !important;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: -5.1875em;
}

.down-icon {
  width: 1em;
  height: 1em;
  position: relative;
  right: -3.5em;
  cursor: default !important;
}

