<div #habit (contextmenu)="openEditHabitMenu($event)" *ngFor="let habit of filteredHabits"
     class="habit">
  <div class="habit-identification">
    <img [src]="getHabitIcon(habit)" alt="habit" class="icon">
  </div>
  <div class="habit-content">
    <div class="minor-details">
      <div [ngClass]="{'canceled-text': habit.isFailed || habit.isSkipped || habit.isCompleted}" class="habit-name">
        {{habit.name}}
      </div>
      <div [ngClass]="{'canceled-text': habit.isFailed || habit.isSkipped || habit.isCompleted}"
           class="habit-frequency">
        {{getSingleNumber(habit)}} / 1 times
      </div>
    </div>
    <button (click)="completeHabit(habit)" *ngIf="showDoneButton(habit)" class="done-button" pButton type="button">
      <i class="pi pi-check" style="font-size: 0.88rem"></i>
      <span class="done">Done</span>
    </button>
    <button (click)="toggleLogValueBar(habit)" *ngIf="showLogButton(habit)" class="log-button" pButton type="button">
      <img alt="log" class="log-icon"
           src="assets/svg/log.svg"/>
      <span class="log">Log</span>
    </button>

    <button *ngIf="habit.showLogValueBar" class="log-habit-bar" pButton type="button">
      <input autofocus class="log-input" placeholder="Value">
      <span class="log-text">km</span>
      <img alt="log" class="log-tick-icon"
           src="assets/svg/small-tick.svg"/>
      <img (click)="closeLogValueBar(habit)" alt="log"
           class="log-cross-icon" src="assets/svg/cross.svg"/>
    </button>

    <button *ngIf="!habit.isCompleted && !habit.isSkipped && !habit.isFailed"
            [matMenuTriggerFor]="editHabit.getMenu()" class="more-button" pButton type="button">
      <i class="pi pi-ellipsis-v more-icon" style="font-size: 0.9rem"></i>
    </button>
    <button *ngIf="habit.isCompleted" [matMenuTriggerFor]="compHabit" class="more-button" pButton type="button">
      <i class="pi pi-ellipsis-v more-icon" style="font-size: 0.9rem"></i>
    </button>
    <button *ngIf="habit.isSkipped" [matMenuTriggerFor]="skippedHabit" class="more-button" pButton type="button">
      <i class="pi pi-ellipsis-v more-icon" style="font-size: 0.9rem"></i>
    </button>
    <button *ngIf="habit.isFailed" [matMenuTriggerFor]="failedHabit.getMenu()" class="more-button" pButton type="button">
      <i class="pi pi-ellipsis-v more-icon" style="font-size: 0.9rem"></i>
    </button>
  </div>
  <app-edit-habit-menu #editHabit [habit]="habit"></app-edit-habit-menu>
  <mat-menu #compHabit="matMenu" [hasBackdrop]="false" class="complete-habit-menu" overlapTrigger="false">
    <button (click)="undoComplete(habit)" mat-menu-item>
      <img alt="tick" class="edit-habit-icon"
           src="assets/svg/undo.svg"/>
      Undo Complete
    </button>
    <button mat-menu-item>
      <img alt="tick" class="edit-habit-icon"
           src="assets/svg/log.svg"/>
      Log Progress
    </button>
    <button (click)="openEditModal(habit)" mat-menu-item>
      <img alt="tick" class="edit-habit-icon"
           src="assets/svg/edit.svg"/>
      Edit
    </button>
    <button mat-menu-item>
      <img alt="tick" class="edit-habit-icon"
           src="assets/svg/view-progress.svg"/>
      View Progress
    </button>

  </mat-menu>
  <mat-menu #skippedHabit="matMenu" [hasBackdrop]="false" class="skip-habit-menu" overlapTrigger="false">

    <button mat-menu-item>
      <img alt="tick" class="edit-habit-icon"
           src="assets/svg/log.svg"/>
      Log Progress
    </button>
    <button (click)="undoSkip(habit)" mat-menu-item>
      <img alt="tick" class="edit-habit-icon"
           src="assets/svg/undo.svg"/>
      Undo Skip
    </button>
    <button (click)="openEditModal(habit)" mat-menu-item>
      <img alt="tick" class="edit-habit-icon"
           src="assets/svg/edit.svg"/>
      Edit
    </button>
    <button mat-menu-item>
      <img alt="tick" class="edit-habit-icon"
           src="assets/svg/view-progress.svg"/>
      View Progress
    </button>

  </mat-menu>
 <app-failed-habit-menu #failedHabit [habit]="habit"></app-failed-habit-menu>
</div>
