* {
  margin: 0;
}

.empty-template {
  width: 18.625em; /* 298px / 16 */
  height: 17.8125em; /* 285px / 16 */
  position: relative;
  top: 20.75em;
  right: -29.5em;
}

.habits {
  width: 77.625em; /* 1242px / 16 */
  height: 59.5625em; /* 953px / 16 */
  border-right: 1px solid rgb(234, 234, 234);
  position: relative;
  right: -15.05em;
}

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 35px;
}

.images-container img {
  margin: 10px; /* Add margin between images if needed */
}

.bold-text {
  height: 1.125em;
  width: 19.8em;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.125em;
  color: rgb(0, 0, 0);
  margin-bottom: 6px;
  text-align: center;
}

.light-text {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(123, 124, 124);
  height: 2.25em;
  width: 298px;
  text-align: center;
}

::ng-deep .add {

  width: 102px;
  line-height: 1.125em;
  font-weight: 500;
  height: 30px;
  font-size: 12px;
  color: black;
  background-color: rgb(255, 255, 255);
  font-family: Inter, sans-serif;
  cursor: default;
  border-radius: 5px;
  border: 1px solid rgb(237, 237, 237);

}

.image {
  margin: 0 0 8px !important;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -8em;
  margin-top: 12px;
}

.last-image {
  margin: 0 !important;
}

