<div *ngIf="hasHabits()" class="habits">

  <app-single-habit (showEmpty)="showEmptyHabit($event)" [habits]="sendHabits()"></app-single-habit>
  <div>
    <p-accordion [activeIndex]=activeTabIndices [multiple]="true">
      <p-accordionTab *ngIf="isHabitCompleted()" [header]="getSuccessHeader()" class="accord">
        <app-single-habit [habits]="sendCompletedHabits()"></app-single-habit>
      </p-accordionTab>
      <p-accordionTab *ngIf="isHabitSkipped()" [header]="getSkipHeader()" class="accord">
        <app-single-habit [habits]="sendSkippedHabits()"></app-single-habit>
      </p-accordionTab>
      <p-accordionTab *ngIf="isHabitFailed()" [header]="getFailHeader()" class="accord">
        <app-single-habit [habits]="sendFailedHabits()"></app-single-habit>
      </p-accordionTab>

    </p-accordion>
  </div>

</div>
<div *ngIf="!hasHabits() || showEmpty" class="none-habits" [ngClass]="{'move-empty-habit':showEmpty}">
  <div class="empty-template">
    <div class="images-container">
      <img alt="image1" class="image" src="assets/svg/image1.svg">
      <img alt="image2" class="image" src="assets/svg/image2.svg">
      <img alt="image3" class="last-image" src="assets/svg/image3.svg">
    </div>
    <div class="bold-text">
      The Start of a Better You!
    </div>
    <div class="light-text">
      Habits are like dominos. As one is formed, all others will follow!
    </div>
    <button (click)="openDialog()" class="add">
      <mat-icon class="add-icon">add</mat-icon>
      <span class="button-text">Add Habits</span>
    </button>
  </div>
</div>

