<mat-menu #timeDay="matMenu" [hasBackdrop]="false" class="time-day-menu" overlapTrigger="false">
  <div #Timeday>
  <button (click)="updateTimeOfDay(TimeOfDay.Morning)" mat-menu-item>
    <img [ngClass]="{'hide-icon': isTimeOfDaySelected(TimeOfDay.Morning)}" alt="tick" class="time-tick-icon"
         src="assets/svg/tick.svg"/>
    <span class="menu-text">{{TimeOfDay.Morning}}</span>
  </button>
  <button (click)="updateTimeOfDay(TimeOfDay.Evening)" mat-menu-item>
    <img [ngClass]="{'hide-icon': isTimeOfDaySelected(TimeOfDay.Evening)}" alt="tick" class="time-tick-icon"
         src="assets/svg/tick.svg"/>
    <span class="menu-text">{{TimeOfDay.Evening}}</span>
  </button>
  <button (click)="updateTimeOfDay(TimeOfDay.Afternoon)" mat-menu-item>
    <img [ngClass]="{'hide-icon': isTimeOfDaySelected(TimeOfDay.Afternoon)}" alt="tick" class="time-tick-icon"
         src="assets/svg/tick.svg"/>
    <span class="menu-text">{{TimeOfDay.Afternoon}}</span>
  </button>
  </div>
</mat-menu>
