<mat-menu #compHabit="matMenu" [hasBackdrop]="false" class="complete-habit-menu" overlapTrigger="false">
  <button (click)="undoComplete(habit)" mat-menu-item>
    <img alt="tick" class="edit-habit-icon"
         src="assets/svg/undo.svg"/>
    Undo Complete
  </button>
  <button (click)="showOverlayPanel($event,habit)" mat-menu-item>
    <img alt="tick" class="edit-habit-icon"
         src="assets/svg/log.svg"/>
    Log Progress
  </button>
  <button (click)="openEditModal(habit)" mat-menu-item>
    <img alt="tick" class="edit-habit-icon"
         src="assets/svg/edit.svg"/>
    Edit
  </button>
  <button (click)="emitHabit(habit)" mat-menu-item>
    <img alt="tick" class="edit-habit-icon"
         src="assets/svg/view-progress.svg"/>
    View Progress
  </button>
</mat-menu>
<app-overlay-panel-menu *ngIf="habit.showOverLayPanel" [habit]="habit"></app-overlay-panel-menu>
